// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Override Material System Tokens with our global tokens
  --mat-sys-primary: var(--color-primary);
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: var(--color-accent);
  --mat-sys-on-primary-container: var(--color-primary);
  
  // Font Overrides
  --mat-sys-body-small: 400 12px/16px "Inter", sans-serif;
  --mat-sys-body-medium: 400 14px/20px "Inter", sans-serif;
  --mat-sys-body-large: 400 16px/24px "Inter", sans-serif;
  --mat-sys-label-small: 500 11px/16px "Inter", sans-serif;
  --mat-sys-label-medium: 500 12px/16px "Inter", sans-serif;
  --mat-sys-label-large: 500 14px/20px "Inter", sans-serif;
  --mat-sys-title-small: 500 14px/20px "Inter", sans-serif;
  --mat-sys-title-medium: 500 16px/24px "Inter", sans-serif;
  --mat-sys-title-large: 400 22px/28px "Pacifico", cursive; /* Display font for titles */
  --mat-sys-headline-small: 400 24px/32px "Pacifico", cursive;
  --mat-sys-headline-medium: 400 28px/36px "Pacifico", cursive;
  --mat-sys-headline-large: 400 32px/40px "Pacifico", cursive;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
